{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>

    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.png' %}">
    <link href='https://fonts.googleapis.com/css?family=Laila' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Buenard' rel='stylesheet'>

    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
</head>
<body>
    {% include 'main/navbar.html' %}
        
            {% block content %}
           
            {% endblock content %}
            
        
        {% include 'main/footer.html' %}
            
            

    <script src="{% static 'js/main.js' %}"></script>
        
</body>
</html>