<!-- Footer -->
<div class="footer">
    <div class="footer-column-container">
        <div class="footer-column">
            <h5>Useful Links</h5>
            <ul>
                <li><a href="#"><span>&gt;</span> Home</a></li>
                <li><a href="#"><span>&gt;</span> About</a></li>
                <li><a href="#"><span>&gt;</span> Enquire</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <h5>Examples</h5>
            <ul>
                <li><a href=""><span>&gt;</span> Code Samples</a></li>
                <li><a href=""><span>&gt;</span> New </a></li>
                <li><a href="#"><span>&gt;</span> Coming Soon</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <h5>Programming</h5>
            <ul>
                <li><a href=""><span>&gt;</span> Python</a></li>
                <li><a href="#"><span>&gt;</span> Django</a></li>
                <li><a href="#"><span>&gt;</span> PHP</a></li>
                <li><a href="#"><span>&gt;</span> New</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <h5>Contact Us</h5>
            <ul>
                <li><a href="#"><span>&gt;</span> +254 700110011</a></li>
                <li><a href="#"><span>&gt;</span> elearn@ecom.com</a></li>
                <li><a href="#"><span>&gt;</span> +254 700110011</a></li>
            </ul>
        </div>
    </div>

    <hr>

    <div class="footer-end">
        <!-- <p>&copy;Sqcodes | <span id="current-year">2024</span>. All Rights Reserved.</p> -->
        <p>&copy;paulmagadi | <span>{% now "Y" %}</span>. All Rights Reserved.</p>

    </div>
</div> <!-- Footer end-->

