{% load static %}
<header>
    <div><a href="#"><p>Home</p></a></div>
    <div><a href="#"><p>About</p></a></div>
    <div><a href="#"><p>Projects</p></a></div>
    <div><a href="#"><p>Challenges</p></a></div>
    <div class="search">
        <form action="">
            <input type="search" value="Search...">
        </form>
    </div>
    <!-- <div><a href="#">Paul Magadi</a></div>
    <img src="{% static 'images/paul.jpg' %}" alt="" width="3%"> -->
    <!-- <div><a href="{% url 'signin' %}">Login</a></div> -->

    
    {% if user.is_authenticated %}
    <img src="{{ user.profile.image }}" alt="{{user.first_name}}" width="3%">
    {% else %}
    <img src="{% static 'images/paul.jpg' %}" alt="" width="3%">
    <div><a href="{% url 'logout' %}">Logout</a></div>
    {% endif %}
        

</header>