<nav>
    <ul>
        <a class="left"><li>&langle;</li></a>
        <a href="#"><li>HTML</li></a>
        <a href="#"><li>CSS</li></a>
        <a href="#"><li>JAVASCRIPT</li></a>
        <a href="#"><li>SQL</li></a>
        <a href="#"><li>REACT</li></a>
        <a href="#"><li>ANGULAR</li></a>
        <a href="#"><li>PYTHON</li></a>
        <a href="#"><li>PHP</li></a>
        <a href="#"><li>DJANGO</li></a>
        <a href="#"><li>HTML</li></a>
        <a href="#"><li>CSS</li></a>
        <a href="#"><li>JAVASCRIPT</li></a>
        <a href="#"><li>SQL</li></a>
        <a href="#"><li>REACT</li></a>
        <a href="#"><li>ANGULAR</li></a>
        <a href="#"><li>PYTHON</li></a>
        <a href="#"><li>PHP</li></a>
        <a href="#"><li>DJANGO</li></a>
        <a class="right"><li>&rangle;</li></a>
    </ul>
</nav>