{% extends 'main/base.html' %}
{% load static %}
{% load custom_filters %}

{% block title %}
    {{ course.title }}
{% endblock title %}

{% block content %}
{% include 'courses/sidebar.html' %}
<div class="course-content">
    {% if selected_unit %}
        <h2>{{ selected_unit.title }}</h2>
        
        {% for lesson in lessons %}
            <div class="content-container" style="background-color: {% cycle '#FFF4A3' '#FFC0C7' '#D9EEE1' %};">
                <h3>{{ lesson.title }}</h3>

                {% for content in lesson_contents|dict_key:lesson.id %}
                    {% if content.content_type == 'header' %}
                        <h4>{{ content.text_content }}</h4>
                    {% elif content.content_type == 'paragraph' %}
                        <p>{{ content.text_content }}</p>
                    {% elif content.content_type == 'list' %}
                        <ul>
                            {% for item in content.split_list_items %}
                                <li>{{ item }}</li>
                            {% endfor %}
                        </ul>
                    {% elif content.content_type == 'code' %}
                        <pre>{{ content.code_content }}</pre>
                    {% elif content.content_type == 'video' %}
                    <div class="video-container">
                        <iframe width="560" height="315" src="{{ content.video_url }}" frameborder="0" allowfullscreen></iframe>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
    {% else %}
            <h1>{{course}} TUTORIAL</h1>
            <div class="content-container" style="background-color: {% cycle '#FFF4A3' '#FFC0C7' '#D9EEE1' %};">
                
                <p>{{course.description}}</p>
                <br>
            </div>
            
            <div class="content-container" style="background-color: #D9EEE1;">
                <p>We recommend reading this tutorial, in the sequence listed in the menu.</p>

                <p>If you have a large screen, the menu will always be present on the left.</p>

                <p>If you have a small screen, open the menu by clicking the top menu sign ☰.</p>

            </div>

            
            {% if units %}
            <div class="unit-content-container">

                {% for unit in units %}
                <div class="course-unit">
                <h3><a href="{% url 'course' course.slug %}?unit={{ unit.slug }}">{{ unit.title }}</a></h3>
                </div>
                {% endfor %}
                    
            </div>
            {% endif %}
                
    {% endif %}
</div>

<style>
    .content-container {
        background-color: #FFF4A3;
        margin-bottom: 20px;
        padding: 20px;
        border-radius: 5px;
    }

    .content-container p {
        padding: .5em 0;
    }

    pre {
        background-color: #f4f4f4;
        padding: 10px;
        border-radius: 5px;
        overflow-x: auto;
    }

    .unit-content-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        gap: 1em;
        background-color: #FFC0C7;
        padding: 1em;
        border-radius: 5px;
    }

    .course-unit {
        width: 32%;
        background-color: #ffffff;
        padding: 1em .5em;
        border-radius: 5px;
        text-align: center;
    }

    .course-unit a {
        color: black;
    }

    .course-unit:hover {
        background-color: #000000;
        color: white;
        
    }

    .course-unit:hover a {
        color: white;
    }

    @media (max-width: 600px) {
        .unit-content-container{
        flex-direction: column;
        gap: .5em;
    }

    .course-unit {
        width: 100%;
    }
    }
</style>
{% endblock content %}
