<aside>
    <div class="sidebar-container">
        <div class="sidebar">
            <h3>LEARN {{course|upper}}</h3>
            <p>HARD CODED</p>
            <p>Introduction</p>
            <p>Basics</p>
            <p>Elements</p>
            <p>Attributes</p>
            <p>Introduction</p>
            <p>Basics</p>
            <p>Elements</p>
            <p>Attributes</p>
            <p>Introduction</p>
            <p>Basics</p>
            <p>Elements</p>
            <p>Attributes</p>
            <p>Introduction</p>
            <p>Basics</p>
            <p>Elements</p>
            <p>Attributes</p>
        </div>
    </div>
</aside>