* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.content {
    width: 80%;
    margin-left: 20%;
    margin-top: 6rem;
    min-height: 1800px;
    padding: 1em;
}

