nav {
    width: 100%;
    background-color: #0fab72;
    color:  white;
    overflow-x: hidden;
    position: fixed;
    top: 3rem;
    left: 0;
    right: 0;
    z-index: 1000;
    cursor: pointer;
}

nav ul {
    display: flex;
    justify-content: left;
    list-style: none;
}

nav ul li {
    padding: .6em 1em;
    
}

nav ul a {
    color: white;
}

nav ul li:hover {
    background-color: red;
}


.left {
    left: 0;
    display: none;
    position: fixed;
    background-color: #0fab72;
    margin: 0;
    font-size: .97rem;
    }

.right {
right: 0;
position: fixed;
background-color: #0fab72;
margin: 0;
font-size: .97rem;
}